.basketItem {
    width: 95%;
    height: 102px;
    border-top: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    /* padding-right: 25px; */
    margin: auto;
}

.image {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.productName {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4F4F4F;
}

.price {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4F4F4F;
}

.count {
    width: 29px;
    height: 76px;
    border-radius: 50px;
    background: #FFFFFF;
    text-align: center;

    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #000000;

}

.plus:hover {
    color: #D63626;
}

.minus:hover {
    color: #D63626;
}