.typeButton {
    width: 199px;
    height: 35px;
    background: #5A5B70;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F2F2F2;
    padding: 0 10px;
}

.typeButton:hover {
    background: #4b4b5c;
    transition: 333ms;
}

.text {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}