.card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: ease-in-out 333ms;
}

.restaurantInfo {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 265px;
    align-items: center;
    margin-left: 5px;
}

.images {
    width: 100px;
    height: 100px;
}

.restaurantCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurantName {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #1E1E30;

    word-wrap: break-word;
}

.category {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #828282;

}

.delete:hover,
.edit:hover {
    transform: scale(1.3);
    transition: ease-in-out 333ms;
}

@media screen and (max-width: 1540px) {

    .images {
        width: 80px;
        height: 80px;
    }

    .restaurantName {
        font-size: 14px;
        font-weight: 500;
    }
}