.productCard {
    width: 196px;
    height: 320px;
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productCard:hover {
    cursor: pointer;
    transform: scale(0.97);
    transition: ease-in-out 333ms;
}

.productName {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: left;
    color: #1E1E30;

}

.restaurantName {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: left;
    color: #8E8E93;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: left;
    color: #00B2A9;

}

.delete:hover,
.edit:hover {
    transform: scale(1.3);
    transition: ease-in-out 333ms;
}